*.ckpt
*.pt
*.tar
*.zip
temp.ipynb

runs/*
runs_backup/*
test_runs/*
runs_A/*
runs_C/*
runs_compare/*
runs_back_up/*
runs_back_up_kang/*
runs_back_up_chaoen/*
no_noise_inference/*
no_noise_inference_tmp/*
no_used_runs/*
已儲存/*
重複實驗/*
checkpoints
logs
wandb
VOC2012
VOCdevkit
__pycache__

.vscode
model.pth
weight_track.csv

tensorboard --logdir=runs

init_model.pth
init_model_2.pth
