*.ckpt
*.pt
*.tar
*.zip
temp.ipynb

runs/*
runs_backup/*
test_runs/*
runs_A/*
runs_C/*
runs_compare/*
runs_back_up/*
runs_back_up_kang/*
runs_back_up_chaoen/*
no_used_runs/*
checkpoints
logs
wandb
VOC2012
VOCdevkit
__pycache__

.vscode
model.pth
weight_track.csv

tensorboard --logdir=runs
